/*/////////////////////////////////////*/
.page-search article {
    position: relative;
}

.page-search article header {
    margin-right: 7em;
}

.page-node:not(.node-type-people) h1#page-title {
    margin-right: 4em;
}

.content-type-indicator.search,
.content-type-indicator.block,
.content-type-indicator.node {
    text-align: center;
    font-weight: bold;
    border: 0.1em solid rgba(0, 0, 0, 0.2);
}

.content-type-indicator.search,
.content-type-indicator.node {
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.1em 0.25em;
}

.region-sidebar-first .content-type-indicator.block {
    width: 1.9em;
    float: left;
    /*margin-right: 0.5em;*/
    opacity: 0.6;
    margin: 0 0.5em 0 0;
}

.content-type-indicator.ct-resource {
    background: #cef;
}

.content-type-indicator.ct-page {
    background: #ffccf2;
}

.content-type-indicator.ct-biblio {
    background: #dcf;
}

.content-type-indicator.ct-event {
    background: #efc;
}

.content-type-indicator.ct-people {
    background: #fff6cc;
}

.content-type-indicator.ct-news {
    background: #fcc;
}

.content-type-indicator.ct-announcement {
    background: #ccffd4;
}

.content-type-indicator.ct-webform {
    background: #99ddff;
}