/*/////////////////////////////////////*/
.page-search article {
    position: relative;
}

.page-search article header {
    margin-right: 7em;
}

.page-node:not(.node-type-people) h1#page-title {
    margin-right: 4em;
}

.content-type-indicator.ct-search,
.content-type-indicator.ct-block,
.content-type-indicator.ct-node {
    text-align: center;
    font-weight: bold;
}

.content-type-indicator.ct-search,
.content-type-indicator.ct-node {
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.1em 0.25em;
}

.content-type-indicator.ct-node {
    font-size: large;
}

.region-sidebar-first .content-type-indicator.ct-block {
    width: 1.5em;
    float: left;
    margin-right: 0.5em;
    opacity: 0.6;
}

/*.content-type-indicator.ct-resource {
    background: #cef;
}

.content-type-indicator.ct-page {
    background: #ffccf2;
}

.content-type-indicator.ct-biblio {
    background: #dcf;
}

.content-type-indicator.ct-event {
    background: #efc;
}

.content-type-indicator.ct-people {
    background: #fff6cc;
}

.content-type-indicator.ct-news {
    background: #fcc;
}

.content-type-indicator.ct-announcement {
    background: #ccffd4;
}*/